.container{
    display: grid;
    grid-template-areas: 
    'one one two two'
    'three four four four '
    'five five five five' ;
    max-width: 900px;
    gap: 10px;
}

.container>section{
    padding: 30px;
    border-radius: 10px;
}
.one{grid-area: one; background-color: brown;}
.two{grid-area: two; background-color: aquamarine;}
.three{grid-area: three; background-color: blue;}
.four{grid-area: four;background-color: yellow;}
.five{grid-area: five; background-color: orange;}

